* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #222222;
}

header{
    font-family: "nimbus-sans-extended", sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    width: 100%;
    min-width: 560px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

a{
    text-decoration: none;
    color: #e2452a;
}

.menu a{
    height: max-content;
    margin: 1em;
}

#active{
    color: #bb1e02;
}

a:hover, #active:hover{
    color: #6b0606;
}

/* Nimbus Sans Light
font-family: "nimbus-sans", sans-serif;
font-weight: 300;
font-style: normal;
Nimbus Sans Light Italic
font-family: "nimbus-sans", sans-serif;
font-weight: 300;
font-style: italic;
Nimbus Sans Regular
font-family: "nimbus-sans", sans-serif;
font-weight: 400;
font-style: normal;
Nimbus Sans Regular Italic
font-family: "nimbus-sans", sans-serif;
font-weight: 400;
font-style: italic;
Nimbus Sans Bold
font-family: "nimbus-sans", sans-serif;
font-weight: 700;
font-style: normal;
Nimbus Sans Bold Italic
font-family: "nimbus-sans", sans-serif;
font-weight: 700;
font-style: italic;
Nimbus Sans Black
font-family: "nimbus-sans", sans-serif;
font-weight: 900;
font-style: normal;
Nimbus Sans Black Italic
font-family: "nimbus-sans", sans-serif;
font-weight: 900;
font-style: italic;
Nimbus Sans Cond L Regular
font-family: "nimbus-sans-condensed", sans-serif;
font-weight: 400;
font-style: normal;
Nimbus Sans Cond L Bold
font-family: "nimbus-sans-condensed", sans-serif;
font-weight: 700;
font-style: normal;
Nimbus Sans Cond L Black
font-family: "nimbus-sans-condensed", sans-serif;
font-weight: 900;
font-style: normal;
Nimbus Sans Extd Light
font-family: "nimbus-sans-extended", sans-serif;
font-weight: 300;
font-style: normal;
Nimbus Sans Extd Regular
font-family: "nimbus-sans-extended", sans-serif;
font-weight: 400;
font-style: normal;
Nimbus Sans Extd Bold
font-family: "nimbus-sans-extended", sans-serif;
font-weight: 700;
font-style: normal;
Nimbus Sans Extd Black
font-family: "nimbus-sans-extended", sans-serif;
font-weight: 900;
font-style: normal; */