* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: #222;
  font-family: nimbus-sans-extended,sans-serif;
  font-weight: 600;
  font-style: normal;
}
header {
  font-family: nimbus-sans-extended,sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5em;
  width: 100%;
  min-width: 560px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 3%
}
a {
  text-decoration: none;
  color: #e2452a
}
h3 {
  color: #fff
}
p {
  color: #fff
}
img {
  margin-bottom: 5vh;
  width: auto;
  height: 35vh;
border-radius: 10%;
}
.dayOne{
    display: flex;
    justify-content: center;
}

.dayTwo{
    display: flex;
    justify-content: center;
}

.dayThree{
    display: flex;
    justify-content: center;
}
.menu a {
  height: max-content;
  margin: 1em
}
.wrapper {
  height: 100vh;
  width: auto;
  display: flex;
  gap: 10vh;
  align-items: center;
  justify-content: center
}
.dayOne {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1vh;
  margin-bottom: 5vh
}
.dayTwo {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1vh;
  margin-bottom: 5vh
}
.dayThree {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1vh;
  margin-bottom: 5vh
}
#active {
  color: #bb1e02
}
#active:hover,
a:hover {
  color: #6b0606
}