* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #222222;
    font-family: "nimbus-sans-extended", sans-serif;
    font-style: normal;
}

header{
    font-family: "nimbus-sans-extended", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    width: 100%;
    min-width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

a{
    text-decoration: none;
    color: #e2452a;
}

.menu a{
    height: max-content;
    margin: 1em;
}

a:hover, #active:hover{
    color: #6b0606;
}

.products{
    display: grid;
    place-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}

.row{
    position: relative;
    transition: all .4s;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .4s;
}

.row img:hover{
    transform: scale(0.95);
}

.product-text h5{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    background-color: #e2452a;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon:hover{
    color: #bb1e02;
}

.rating i{
    color: aqua;
    font-size: 18px;
}

.price h4{
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 900;
}

.price p{
    color: #2abde2;
    font-size: 14px;
    font-weight: 600;
}

#active{
    color: #bb1e02;
}

/* Nimbus Sans Light
font-family: "nimbus-sans", sans-serif;
font-weight: 300;
font-style: normal;
Nimbus Sans Light Italic
font-family: "nimbus-sans", sans-serif;
font-weight: 300;
font-style: italic;
Nimbus Sans Regular
font-family: "nimbus-sans", sans-serif;
font-weight: 400;
font-style: normal;
Nimbus Sans Regular Italic
font-family: "nimbus-sans", sans-serif;
font-weight: 400;
font-style: italic;
Nimbus Sans Bold
font-family: "nimbus-sans", sans-serif;
font-weight: 700;
font-style: normal;
Nimbus Sans Bold Italic
font-family: "nimbus-sans", sans-serif;
font-weight: 700;
font-style: italic;
Nimbus Sans Black
font-family: "nimbus-sans", sans-serif;
font-weight: 900;
font-style: normal;
Nimbus Sans Black Italic
font-family: "nimbus-sans", sans-serif;
font-weight: 900;
font-style: italic;
Nimbus Sans Cond L Regular
font-family: "nimbus-sans-condensed", sans-serif;
font-weight: 400;
font-style: normal;
Nimbus Sans Cond L Bold
font-family: "nimbus-sans-condensed", sans-serif;
font-weight: 700;
font-style: normal;
Nimbus Sans Cond L Black
font-family: "nimbus-sans-condensed", sans-serif;
font-weight: 900;
font-style: normal;
Nimbus Sans Extd Light
font-family: "nimbus-sans-extended", sans-serif;
font-weight: 300;
font-style: normal;
Nimbus Sans Extd Regular
font-family: "nimbus-sans-extended", sans-serif;
font-weight: 400;
font-style: normal;
Nimbus Sans Extd Bold
font-family: "nimbus-sans-extended", sans-serif;
font-weight: 700;
font-style: normal;
Nimbus Sans Extd Black
font-family: "nimbus-sans-extended", sans-serif;
font-weight: 900;
font-style: normal; */